<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">Sharing is caring</h2>
                <hr class="light">
                <p class="text-center">Im Laufe meines Studiums hatte ich die Möglichkeit viele dieser Lösungen in Vorlesungen und als Übung zu texen. Es gab fantastische Kommilitonen, die mich sehr unterstützt haben. <br/>
                Ich hoffe wir können Dir damit den Weg zum Analysis Examen ein wenig erleichtern!</p>
            </div>
        </div>
    </div>
</section>
