<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="section-heading text-center">Sharing is caring</h2>
                <hr class="light">
                <p class="text-center">Im Laufe meines Studiums hatte ich die Möglichkeit viele dieser Lösungen in Vorlesungen und als Übung zu texen.<br/> 
                Es gibt fantastische Kommilitonen, die mich bei der Vervollständigung der Lösungen unterstützen.<br/><br/>
                Ich freue mich, wenn auch Du mich unterstützen möchtest!</p>
                <div align="center">
                    <!-- Buy me a coffee-->
                    <a href="https://www.buymeacoffee.com/emanuelatrx"><img src="https://img.buymeacoffee.com/button-api/?text=Unterstütze mich!&emoji=🥨&slug=emanuelatrx&button_colour=8f0032&font_colour=ffffff&font_family=Inter&outline_colour=ffffff&coffee_colour=FFDD00" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
