<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">Aktueller Hinweis</h2>
                <hr class="light">
                <!-- <p class="text-faded">Im Laufe meines Studiums hatte ich die Möglichkeit viele dieser Lösungen in Vorlesungen und als Übung zu texen. Es gab fantastische Kommilitonen, die mich sehr unterstützt haben. <br/>
                Ich hoffe wir können Dir damit den Weg zum Analysis Examen ein wenig erleichtern!</p> -->
                <p>Liebe Kommilitonen, <br/><br/>
                für Korrekturen oder neue Lösungen bin ich immer herzlich dankbar. Vor allem da ich diese Seite allen Besuchern, die sich auf das Analysis Staatsexamen vorbereiten, auf eigene Kosten zur Verfügung stelle. Nachdem mich diese "freundliche Mail" erreicht hat:</p>
                <p><em>"Hallo Frau Trabaldo,<br/>
                <span style="color:red">vermutlich machen Sie inzwischen schon längst keine Mathe mehr</span>, aber vielleicht interessiert es Sie ja trotzdem (und vermeidet Verwirrung bei anderen, die sich Ihre Lösungen anschauen).<br/>
                Bei Ihren Staatsexamenslösungen Analysis sollten Sie vielleicht F18, T1, A3, Teil a nochmal überarbeiten.
                Bei Teil b zeigen Sie ja korrekterweise, dass f nicht stetig ist. In Teilaufgabe a behaupten Sie das Gegenteil (dass f stetig und stetig partiell differenzierbar ist).<br/>
                Viele Grüße<br/>
                Moritz M"</em></p>
                <p>habe ich beschlossen die Lösungen vorübergehend rauszunehmen. Für die Dauer der Überarbeitung könnt ihr euch bei eurem Kommilitonen Moritz bedanken. <br/>
                Derzeit sollte Moritz vielleicht darüber nachdenken, ob er bei dieser Art zu kommunizieren den richtigen Studiengang gewählt hat.</p>
            </div>
        </div>
    </div>
</section>
