<section class="bg-primary" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kontaktmöglichkeiten</h2>
                <hr class="primary">
                <p>Habt ihr eine Lösung oder Quelle die hier noch fehlt? Oder womöglich Fragen zu einer Lösung? Dann kontaktiert mich gerne!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://linkedin.com/in/emanuela-trabaldo-lena">
                <i class="fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Arbeitsprofil</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.author.github }}</p>
            </a>
        </div>

    </div>
</section>
