<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Aufgabensammlung zum Staatsexamen in Analysis</h1>
            <hr>
            <p>Hier meine gesammelten Lösungsvorschläge für Aufgaben aus dem Staatsexamen Analysis für Lehramt Gymnasium.<br/>
            Ohne Gewähr auf Richtigkeit! Freue mich über Feedback, konstruktive Kritik und Korrekturen. </p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Kontakt</a>
        </div>
    </div>
</header>
