<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>The trabaldini blog</h1>
            <hr>
            <p>Here you can find a personal collection of stuff that I'm interested in (und Lösungsvorschläge für Aufgaben aus dem Staatsexamen Analysis für Lehramt Gymnasium). If you have any ideas, criticism or feedback, feel free to text me.</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact me</a>
        </div>
    </div>
</header>
