<section id="math">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Lösungsvorschläge zu Aufgaben aus dem Staatsexamen Analysis für Lehramt Gymnasium</h2>
                <hr class="primary">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <p>Einen herzlichen Dank an alle (Ex-)Kommilitonen für die fleißige Arbeit an der weiteren Vervollständigung der Lösungsvorschläge!</p>
                    <p>Da ich selbst mit meinem Studium fertig bin, lebt die Seite von euren Lösungen. Schickt mir bitte eure Lösungen zum Teilen, bei Bedarf könnt ihr gerne mein LaTex Template haben.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <ul class="math" style="list-style-type:none;">
                <li>
                    <h3>Zusammenfassungen</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="aufg/Komplexe_Integrale.pdf" target="_blank">Komplexe Integrale</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h4>Jahrgang 2024</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="aufg/H24T1A1_RA.pdf" target="_blank">H24T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H24T1A2_FT.pdf" target="_blank">H24T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H24T1A3_FT.pdf" target="_blank">H24T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H24T1A4_DGL.pdf" target="_blank">H24T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H24T1A5_DGL.pdf" target="_blank">H24T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H24T2A1_DGL.pdf" target="_blank">H24T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H24T2A2_FT.pdf" target="_blank">H24T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H24T2A3_FT.pdf" target="_blank">H24T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H24T2A4_DGL.pdf" target="_blank">H24T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H24T2A5_RA.pdf" target="_blank">H24T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H24T3A1_FT.pdf" target="_blank">H24T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H24T3A2_DGL.pdf" target="_blank">H24T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H24T3A3_FT.pdf" target="_blank">H24T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H24T3A4_FT.pdf" target="_blank">H24T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H24T3A5_DGL.pdf" target="_blank">H24T3A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F24T1A1_RA.pdf" target="_blank">F24T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F24T1A2_DGL.pdf" target="_blank">F24T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F24T1A3_FT.pdf" target="_blank">F24T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F24T1A4_FT.pdf" target="_blank">F24T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F24T1A5_DGL.pdf" target="_blank">F24T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F24T2A1_RA.pdf" target="_blank">F24T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F24T2A2_DGL.pdf" target="_blank">F24T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F24T2A3_FT.pdf" target="_blank">F24T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F24T2A4_DGL.pdf" target="_blank">F24T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F24T2A5_FT.pdf" target="_blank">F24T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F24T3A1_FT.pdf" target="_blank">F24T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F24T3A2_DGL.pdf" target="_blank">F24T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F24T3A3_FT.pdf" target="_blank">F24T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F24T3A4_DGL.pdf" target="_blank">F24T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F24T3A5_FT.pdf" target="_blank">F24T3A5</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h4>Jahrgang 2023</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="aufg/H23T1A1_FT.pdf" target="_blank">H23T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H23T1A2_DGL.pdf" target="_blank">H23T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H23T1A3_DGL.pdf" target="_blank">H23T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H23T1A4_FT.pdf" target="_blank">H23T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H23T1A5_RA.pdf" target="_blank">H23T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H23T2A1_FT.pdf" target="_blank">H23T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H23T2A2_RA.pdf" target="_blank">H23T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H23T2A3_DGL.pdf" target="_blank">H23T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H23T2A4_DGL.pdf" target="_blank">H23T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H23T2A5_FT.pdf" target="_blank">H23T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H23T3A1_DGL.pdf" target="_blank">H23T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H23T3A2_DGL.pdf" target="_blank">H23T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H23T3A3_FT.pdf" target="_blank">H23T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H23T3A4_FT.pdf" target="_blank">H23T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H23T3A5_FT.pdf" target="_blank">H23T3A5</a>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <a href="aufg/F23T1A1_DGL.pdf" target="_blank">F23T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F23T1A2_FT.pdf" target="_blank">F23T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F23T1A3_RA.pdf" target="_blank">F23T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F23T1A4_FT.pdf" target="_blank">F23T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F23T1A5_RA.pdf" target="_blank">F23T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F23T2A1_FT.pdf" target="_blank">F23T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F23T2A2_DGL.pdf" target="_blank">F23T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F23T2A3_FT.pdf" target="_blank">F23T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F23T2A4_RA.pdf" target="_blank">F23T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F23T2A5_DGL.pdf" target="_blank">F23T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F23T3A1_DGL.pdf" target="_blank">F23T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F23T3A2_FT.pdf" target="_blank">F23T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F23T3A3_FT.pdf" target="_blank">F23T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F23T3A4_DGL.pdf" target="_blank">F23T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F23T3A5_RA.pdf" target="_blank">F23T3A5</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h4>Jahrgang 2022</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="aufg/H22T1A1_FT.pdf" target="_blank">H22T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H22T1A2_FT.pdf" target="_blank">H22T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H22T1A3_FT.pdf" target="_blank">H22T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H22T1A4_DGL.pdf" target="_blank">H22T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H22T1A5_DGL.pdf" target="_blank">H22T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H22T2A1_FT.pdf" target="_blank">H22T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H22T2A2_FT.pdf" target="_blank">H22T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H22T2A3_FT.pdf" target="_blank">H22T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H22T2A4_DGL.pdf" target="_blank">H22T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H22T2A5_RA.pdf" target="_blank">H22T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H22T3A1_FT.pdf" target="_blank">H22T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H22T3A2_FT.pdf" target="_blank">H22T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H22T3A3_FT.pdf" target="_blank">H22T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H22T3A4_DGL.pdf" target="_blank">H22T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H22T3A5_DGL.pdf" target="_blank">H22T3A5</a>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <a href="aufg/F22T1A1_RA.pdf" target="_blank">F22T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F22T1A2_DGL.pdf" target="_blank">F22T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F22T1A3_DGL.pdf" target="_blank">F22T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F22T1A4_FT.pdf" target="_blank">F22T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F22T1A5_FT.pdf" target="_blank">F22T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F22T2A1_FT.pdf" target="_blank">F22T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F22T2A2_DGL.pdf" target="_blank">F22T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F22T2A3_DGL.pdf" target="_blank">F22T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F22T2A4_FT.pdf" target="_blank">F22T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F22T2A5_FT.pdf" target="_blank">F22T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F22T3A1_RA.pdf" target="_blank">F22T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F22T3A2_DGL.pdf" target="_blank">F22T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F22T3A3_FT.pdf" target="_blank">F22T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F22T3A4_DGL.pdf" target="_blank">F22T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F22T3A5_RA.pdf" target="_blank">F22T3A5</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                <li>
                    <h4>Jahrgang 2021</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="aufg/H21T1A1_DGL.pdf" target="_blank">H21T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H21T1A2_FT.pdf" target="_blank">H21T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H21T1A3_FT.pdf" target="_blank">H21T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H21T1A4_FT.pdf" target="_blank">H21T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H21T1A5_FT.pdf" target="_blank">H21T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H21T2A1_FT.pdf" target="_blank">H21T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H21T2A2_FT.pdf" target="_blank">H21T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H21T2A3_DGL.pdf" target="_blank">H21T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H21T2A4_RA.pdf" target="_blank">H21T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H21T2A5_FT.pdf" target="_blank">H21T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H21T3A1_FT.pdf" target="_blank">H21T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H21T3A2_DGL.pdf" target="_blank">H21T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H21T3A3_DGL.pdf" target="_blank">H21T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H21T3A4_FT.pdf" target="_blank">H21T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H21T3A5_FT.pdf" target="_blank">H21T3A5</a>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <a href="aufg/F21T1A1_RA.pdf" target="_blank">F21T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F21T1A2_FT.pdf" target="_blank">F21T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F21T1A3_DGL.pdf" target="_blank">F21T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F21T1A4_DGL.pdf" target="_blank">F21T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F21T1A5_FT.pdf" target="_blank">F21T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F21T2A1_FT.pdf" target="_blank">F21T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F21T2A2_FT.pdf" target="_blank">F21T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F21T2A3_DGL.pdf" target="_blank">F21T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F21T2A4_FT.pdf" target="_blank">F21T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F21T2A5_DGL.pdf" target="_blank">F21T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F21T3A1_RA.pdf" target="_blank">F21T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F21T3A2_FT.pdf" target="_blank">F21T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F21T3A3_RA.pdf" target="_blank">F21T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F21T3A4_FT.pdf" target="_blank">F21T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F21T3A5_DGL.pdf" target="_blank">F21T3A5</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h4>Jahrgang 2020</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="aufg/H20T1A1_RA.pdf" target="_blank">H20T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H20T1A2_FT.pdf" target="_blank">H20T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H20T1A3_FT.pdf" target="_blank">H20T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H20T1A4_DGL.pdf" target="_blank">H20T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H20T1A5_DGL.pdf" target="_blank">H20T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H20T2A1_DGL.pdf" target="_blank">H20T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H20T2A2_DGL.pdf" target="_blank">H20T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H20T2A3_FT.pdf" target="_blank">H20T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H20T2A4_FT.pdf" target="_blank">H20T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H20T2A5_FT.pdf" target="_blank">H20T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H20T3A1_RA.pdf" target="_blank">H20T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H20T3A2_FT.pdf" target="_blank">H20T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H20T3A3_FT.pdf" target="_blank">H20T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H20T3A4_DGL.pdf" target="_blank">H20T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H20T3A5_FT.pdf" target="_blank">H20T3A5</a>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <a href="aufg/F20T1A1_FT.pdf" target="_blank">F20T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F20T1A2_DGL.pdf" target="_blank">F20T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F20T1A3_DGL.pdf" target="_blank">F20T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F20T1A4_FT.pdf" target="_blank">F20T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F20T1A5_FT.pdf" target="_blank">F20T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F20T2A1_FT.pdf" target="_blank">F20T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F20T2A2_FT.pdf" target="_blank">F20T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F20T2A3_FT.pdf" target="_blank">F20T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F20T2A4_DGL.pdf" target="_blank">F20T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F20T2A5_DGL.pdf" target="_blank">F20T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F20T3A1_DGL.pdf" target="_blank">F20T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F20T3A2_RA.pdf" target="_blank">F20T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F20T3A3_FT.pdf" target="_blank">F20T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F20T3A4_FT.pdf" target="_blank">F20T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F20T3A5_DGL.pdf" target="_blank">F20T3A5</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h4>Jahrgang 2019</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="aufg/H19T1A1_FT.pdf" target="_blank">H19T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H19T1A2_RA.pdf" target="_blank">H19T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H19T1A3_FT.pdf" target="_blank">H19T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H19T1A4_DGL.pdf" target="_blank">H19T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H19T1A5_DGL.pdf" target="_blank">H19T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H19T2A1_DGL_FT.pdf" target="_blank">H19T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H19T2A2_RA.pdf" target="_blank">H19T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H19T2A3_FT.pdf" target="_blank">H19T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H19T2A4_DGL.pdf" target="_blank">H19T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H19T2A5_FT.pdf" target="_blank">H19T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H19T3A1_RA.pdf" target="_blank">H19T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H19T3A2_RA.pdf" target="_blank">H19T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H19T3A3_FT.pdf" target="_blank">H19T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H19T3A4_DGL.pdf" target="_blank">H19T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H19T3A5_DGL.pdf" target="_blank">H19T3A5</a>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <a href="aufg/F19T1A1_FT.pdf" target="_blank">F19T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F19T1A2_FT.pdf" target="_blank">F19T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F19T1A3_DGL.pdf" target="_blank">F19T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F19T1A4_DGL.pdf" target="_blank">F19T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F19T1A5_FT.pdf" target="_blank">F19T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F19T2A1_FT.pdf" target="_blank">F19T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F19T2A2_FT.pdf" target="_blank">F19T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F19T2A3_DGL.pdf" target="_blank">F19T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F19T2A4_DGL.pdf" target="_blank">F19T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F19T2A5_FT.pdf" target="_blank">F19T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F19T3A1_FT.pdf" target="_blank">F19T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F19T3A2_FT.pdf" target="_blank">F19T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F19T3A3_RA.pdf" target="_blank">F19T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F19T3A4_FT.pdf" target="_blank">F19T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F19T3A5_DGL.pdf" target="_blank">F19T3A5</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h4>Jahrgang 2018</h4>
                    <table class="math">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="aufg/H18T1A1_FT.pdf" target="_blank">H18T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H18T1A2_FT.pdf" target="_blank">H18T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H18T1A3_DGL.pdf" target="_blank">H18T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H18T1A4_FT.pdf" target="_blank">H18T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H18T1A5_FT.pdf" target="_blank">H18T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H18T2A1_FT.pdf" target="_blank">H18T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H18T2A2_FT.pdf" target="_blank">H18T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H18T2A3_FT.pdf" target="_blank">H18T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H18T2A4_DGL.pdf" target="_blank">H18T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H18T2A5_DGL.pdf" target="_blank">H18T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H18T3A1_FT.pdf" target="_blank">H18T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H18T3A2_FT.pdf" target="_blank">H18T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H18T3A3_DGL.pdf" target="_blank">H18T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H18T3A4_FT.pdf" target="_blank">H18T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H18T3A5_DGL.pdf" target="_blank">H18T3A5</a>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <a href="aufg/F18T1A1_RA.pdf" target="_blank">F18T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F18T1A2_FT.pdf" target="_blank">F18T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F18T1A3_FT.pdf" target="_blank">F18T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F18T1A4_DGL.pdf" target="_blank">F18T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F18T1A5_DGL.pdf" target="_blank">F18T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F18T2A1_FT.pdf" target="_blank">F18T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F18T2A2_RA.pdf" target="_blank">F18T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F18T2A3_FT.pdf" target="_blank">F18T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F18T2A4_DGL.pdf" target="_blank">F18T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F18T2A5_DGL.pdf" target="_blank">F18T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F18T3A1_FT.pdf" target="_blank">F18T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F18T3A2_DGL.pdf" target="_blank">F18T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F18T3A3_FT.pdf" target="_blank">F18T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F18T3A4_DGL.pdf" target="_blank">F18T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F18T3A5_FT.pdf" target="_blank">F18T3A5</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h4>Jahrgang 2017</h4>
                    <table class="math">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="aufg/H17T1A1_FT.pdf" target="_blank">H17T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H17T1A2_FT.pdf" target="_blank">H17T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H17T1A3_DGL.pdf" target="_blank">H17T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H17T1A4_DGL.pdf" target="_blank">H17T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H17T1A5_RA.pdf" target="_blank">H17T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H17T2A1_FT.pdf" target="_blank">H17T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H17T2A2_DGL.pdf" target="_blank">H17T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H17T2A3_FT.pdf" target="_blank">H17T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H17T2A4_DGL.pdf" target="_blank">H17T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H17T2A5_FT.pdf" target="_blank">H17T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H17T3A1_FT.pdf" target="_blank">H17T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H17T3A2_RA.pdf" target="_blank">H17T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H17T3A3_DGL.pdf" target="_blank">H17T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H17T3A4_DGL.pdf" target="_blank">H17T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H17T3A5_FT.pdf" target="_blank">H17T3A5</a>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <a href="aufg/F17T1A1_FT.pdf" target="_blank">F17T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F17T1A2_RA.pdf" target="_blank">F17T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F17T1A3_FT.pdf" target="_blank">F17T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F17T1A4_RA.pdf" target="_blank">F17T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F17T1A5_DGL.pdf" target="_blank">F17T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F17T2A1_RA.pdf" target="_blank">F17T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F17T2A2_DGL.pdf" target="_blank">F17T2A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F17T2A3_DGL.pdf" target="_blank">F17T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F17T2A4_FT.pdf" target="_blank">F17T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F17T2A5_FT.pdf" target="_blank">F17T2A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F17T3A1_FT.pdf" target="_blank">F17T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F17T3A2_DGL.pdf" target="_blank">F17T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F17T3A3_RA.pdf" target="_blank">F17T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F17T3A4_RA.pdf" target="_blank">F17T3A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F17T3A5_RA.pdf" target="_blank">F17T3A5</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h4>Jahrgang 2016</h4>
                    <table class="math">
                        <tbody>
                            <tr>
                                <td>
                                    <p>H16T1A1</p>
                                </td>
                                <td>
                                    <p>H16T1A2</p>
                                </td>
                                <td>
                                    <a href="aufg/H16T1A3_DGL.pdf" target="_blank">H16T1A3</a>
                                </td>
                                <td>
                                    <p>H16T1A4</p>
                                </td>
                                <td>
                                    <a href="aufg/H16T1A5_DGL.pdf" target="_blank">H16T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>H16T2A1</p>
                                </td>
                                <td>
                                    <p>H16T2A2</p>
                                </td>
                                <td>
                                    <p>H16T2A3</p>
                                </td>
                                <td>
                                    <p>H16T2A4</p>
                                </td>
                                <td>
                                    <p>H16T2A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>H16T3A1</p>
                                </td>
                                <td>
                                    <a href="aufg/H16T3A2_RA.pdf" target="_blank">H16T3A2</a>
                                </td>
                                <td>
                                    <p>H16T3A3</p>
                                </td>
                                <td>
                                    <p>H16T3A4</p>
                                </td>
                                <td>
                                    <p>H16T3A5</p>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <p>F16T1A1</p>
                                </td>
                                <td>
                                    <a href="aufg/F16T1A2_FT.pdf" target="_blank">F16T1A2</a>
                                </td>
                                <td>
                                    <p>F16T1A3</p>
                                </td>
                                <td>
                                    <a href="aufg/F16T1A4_FT.pdf" target="_blank">F16T1A4</a>
                                </td>
                                <td>
                                    <p>F16T1A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>F16T2A1</p>
                                </td>
                                <td>
                                    <p>F16T2A2</p>
                                </td>
                                <td>
                                    <p>F16T2A3</p>
                                </td>
                                <td>
                                    <p>F16T2A4</p>
                                </td>
                                <td>
                                    <p>F16T2A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>F16T3A1</p>
                                </td>
                                <td>
                                    <p>F16T3A2</p>
                                </td>
                                <td>
                                    <p>F16T3A3</p>
                                </td>
                                <td>
                                    <p>F16T3A4</p>
                                </td>
                                <td>
                                    <p>F16T3A5</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h4>Jahrgänge 2000 - 2015</h4>
                    <table class="math">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="aufg/H00T1A2_DGL.pdf" target="_blank">H00T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H00T1A5_FT.pdf" target="_blank">H00T1A5</a>
                                </td>
                                <td>
                                    <a href="aufg/F01T3A1_FT.pdf" target="_blank">F01T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F02T2A1_FT.pdf" target="_blank">F02T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H02T2A1_FT.pdf" target="_blank">H02T2A1</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H03T3A1_FT.pdf" target="_blank">H03T3A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H04T1A2_DGL.pdf" target="_blank">H04T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/F05T1A1_DGL.pdf" target="_blank">F05T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H06T2A3_DGL.pdf" target="_blank">H06T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F07T3A5_DGL.pdf" target="_blank">F07T3A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H07T2A1_FT.pdf" target="_blank">H07T2A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H07T2A5_DGL.pdf" target="_blank">H07T2A5</a>
                                </td>
                                <td>
                                    <a href="aufg/F08T1A1_DGL.pdf" target="_blank">F08T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/F09T1A4_DGL.pdf" target="_blank">F09T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F09T2A1_FT.pdf" target="_blank">F09T2A1</a>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <a href="aufg/H09T1A1_DGL.pdf" target="_blank">H09T1A1</a>
                                </td>
                                <td>
                                    <a href="aufg/H09T1A3_DGL_FT.pdf" target="_blank">H09T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H10T2A4_DGL.pdf" target="_blank">H10T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F11T3A2_DGL.pdf" target="_blank">F11T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H11T1A1_DGL_FT.pdf" target="_blank">H11T1A1</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H11T1A2_FT.pdf" target="_blank">H11T1A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H11T1A3_FT.pdf" target="_blank">H11T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H11T1A4_DGL.pdf" target="_blank">H11T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/H11T3A3_DGL.pdf" target="_blank">H11T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F12T1A5_DGL.pdf" target="_blank">F12T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F12T3A5_DGL.pdf" target="_blank">F12T3A5</a>
                                </td>
                                <td>
                                    <a href="aufg/F13T3A2_FT.pdf" target="_blank">F13T3A2</a>
                                </td>
                                <td>
                                    <a href="aufg/H13T2A4_DGL.pdf" target="_blank">H13T2A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F14T1A3_DGL.pdf" target="_blank">F14T1A3</a>
                                </td>
                                <td>
                                    <a href="aufg/F14T2A1_DGL.pdf" target="_blank">F14T2A1</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F14T2A3_FT.pdf" target="_blank">F14T2A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H14T1A4_DGL.pdf" target="_blank">H14T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F15T1A4_DGL.pdf" target="_blank">F15T1A4</a>
                                </td>
                                <td>
                                    <a href="aufg/F15T3A3_FT.pdf" target="_blank">F15T3A3</a>
                                </td>
                                <td>
                                    <a href="aufg/H15T2A4_FT.pdf" target="_blank">H15T2A4</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</section>
