<section id="math">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Lösungsvorschläge zu Aufgaben aus dem Staatsexamen Analysis für Lehramt Gymnasium</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <ul class="math">
                <li>
                    <h4>Jahrgang 2019</h4>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>H19T1A1</p>
                                </td>
                                <td>
                                    <p>H19T1A2</p>
                                </td>
                                <td>
                                    <p>H19T1A3</p>
                                </td>
                                <td>
                                    <a href="aufg/H19T1A4_DGL.pdf" target="_blank">H19T1A4</a>
                                </td>
                                <td>
                                    <p>H19T1A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/H19T2A1_DGL_FT.pdf" target="_blank">H19T2A1</a>
                                </td>
                                <td>
                                    <p>H19T2A2</p>
                                </td>
                                <td>
                                    <p>H19T2A3</p>
                                </td>
                                <td>
                                    <a href="aufg/H19T2A4_DGL.pdf" target="_blank">H19T2A4</a>
                                </td>
                                <td>
                                    <p>H19T2A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>H19T3A1</p>
                                </td>
                                <td>
                                    <p>H19T3A2</p>
                                </td>
                                <td>
                                    <p>H19T3A3</p>
                                </td>
                                <td>
                                    <a href="aufg/H19T3A4_DGL.pdf" target="_blank">H19T3A4</a>
                                </td>
                                <td>
                                    <p>H19T3A5</p>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <p>F19T1A1</p>
                                </td>
                                <td>
                                    <p>F19T1A2</p>
                                </td>
                                <td>
                                    <p>F19T1A3</p>
                                </td>
                                <td>
                                    <p>F19T1A4</p>
                                </td>
                                <td>
                                    <a href="aufg/F19T1A5_FT.pdf" target="_blank">F19T1A5</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F19T2A1_FT.pdf" target="_blank">F19T2A1</a>
                                </td>
                                <td>
                                    <p>F19T2A2</p>
                                </td>
                                <td>
                                    <p>F19T2A3</p>
                                </td>
                                <td>
                                    <p>F19T2A4</p>
                                </td>
                                <td>
                                    <p>F19T2A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>F19T3A1</p>
                                </td>
                                <td>
                                    <p>F19T3A2</p>
                                </td>
                                <td>
                                    <p>F19T3A3</p>
                                </td>
                                <td>
                                    <p>F19T3A4</p>
                                </td>
                                <td>
                                    <p>F19T3A5</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h4>Jahrgang 2018</h4>
                    <table class="math">
                        <tbody>
                            <tr>
                                <td>
                                    <p>H18T1A1</p>
                                </td>
                                <td>
                                    <p>H18T1A2</p>
                                </td>
                                <td>
                                    <p>H18T1A3</p>
                                </td>
                                <td>
                                    <p>H18T1A4</p>
                                </td>
                                <td>
                                    <p>H18T1A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>H18T2A1</p>
                                </td>
                                <td>
                                    <p>H18T2A2</p>
                                </td>
                                <td>
                                    <p>H18T2A3</p>
                                </td>
                                <td>
                                    <p>H18T2A4</p>
                                </td>
                                <td>
                                    <p>H18T2A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>H18T3A1</p>
                                </td>
                                <td>
                                    <p>H18T3A2</p>
                                </td>
                                <td>
                                    <p>H18T3A3</p>
                                </td>
                                <td>
                                    <p>H18T3A4</p>
                                </td>
                                <td>
                                    <a href="aufg/H18T3A5_DGL.pdf" target="_blank">H18T3A5</a>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <p>F18T1A1</p>
                                </td>
                                <td>
                                    <p>F18T1A2</p>
                                </td>
                                <td>
                                    <p>F18T1A3</p>
                                </td>
                                <td>
                                    <p>F18T1A4</p>
                                </td>
                                <td>
                                    <p>F18T1A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>F18T2A1</p>
                                </td>
                                <td>
                                    <p>F18T2A2</p>
                                </td>
                                <td>
                                    <p>F18T2A3</p>
                                </td>
                                <td>
                                    <p>F18T2A4</p>
                                </td>
                                <td>
                                    <p>F18T2A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>F18T3A1</p>
                                </td>
                                <td>
                                    <p>F18T3A2</p>
                                </td>
                                <td>
                                    <p>F18T3A3</p>
                                </td>
                                <td>
                                    <p>F18T3A4</p>
                                </td>
                                <td>
                                    <p>F18T3A5</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h4>Jahrgang 2017</h4>
                    <table class="math">
                        <tbody>
                            <tr>
                                <td>
                                    <p>H17T1A1</p>
                                </td>
                                <td>
                                    <p>H17T1A2</p>
                                </td>
                                <td>
                                    <p>H17T1A3</p>
                                </td>
                                <td>
                                    <p>H17T1A4</p>
                                </td>
                                <td>
                                    <p>H17T1A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>H17T2A1</p>
                                </td>
                                <td>
                                    <p>H17T2A2</p>
                                </td>
                                <td>
                                    <p>H17T2A3</p>
                                </td>
                                <td>
                                    <p>H17T2A4</p>
                                </td>
                                <td>
                                    <p>H17T2A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>H17T3A1</p>
                                </td>
                                <td>
                                    <p>H17T3A2</p>
                                </td>
                                <td>
                                    <a href="aufg/H17T3A3_DGL.pdf" target="_blank">H17T3A3</a>
                                </td>
                                <td>
                                    <p>H17T3A4</p>
                                </td>
                                <td>
                                    <p>H17T3A5</p>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <p>F17T1A1</p>
                                </td>
                                <td>
                                    <p>F17T1A2</p>
                                </td>
                                <td>
                                    <p>F17T1A3</p>
                                </td>
                                <td>
                                    <p>F17T1A4</p>
                                </td>
                                <td>
                                    <p>F17T1A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>F17T2A1</p>
                                </td>
                                <td>
                                    <p>F17T2A2</p>
                                </td>
                                <td>
                                    <p>F17T2A3</p>
                                </td>
                                <td>
                                    <p>F17T2A4</p>
                                </td>
                                <td>
                                    <p>F17T2A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>F17T3A1</p>
                                </td>
                                <td>
                                    <p>F17T3A2</p>
                                </td>
                                <td>
                                    <p>F17T3A3</p>
                                </td>
                                <td>
                                    <p>F17T3A4</p>
                                </td>
                                <td>
                                    <p>F17T3A5</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h4>Jahrgang 2016</h4>
                    <table class="math">
                        <tbody>
                            <tr>
                                <td>
                                    <p>H16T1A1</p>
                                </td>
                                <td>
                                    <p>H16T1A2</p>
                                </td>
                                <td>
                                    <a href="aufg/H16T1A3_DGL.pdf" target="_blank">H16T1A3</a>
                                </td>
                                <td>
                                    <p>H16T1A4</p>
                                </td>
                                <td>
                                    <p>H16T1A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>H16T2A1</p>
                                </td>
                                <td>
                                    <p>H16T2A2</p>
                                </td>
                                <td>
                                    <p>H16T2A3</p>
                                </td>
                                <td>
                                    <p>H16T2A4</p>
                                </td>
                                <td>
                                    <p>H16T2A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>H16T3A1</p>
                                </td>
                                <td>
                                    <p>H16T3A2</p>
                                </td>
                                <td>
                                    <p>H16T3A3</p>
                                </td>
                                <td>
                                    <p>H16T3A4</p>
                                </td>
                                <td>
                                    <p>H16T3A5</p>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <p>F16T1A1</p>
                                </td>
                                <td>
                                    <p>F16T1A2</p>
                                </td>
                                <td>
                                    <p>F16T1A3</p>
                                </td>
                                <td>
                                    <p>F16T1A4</p>
                                </td>
                                <td>
                                    <p>F16T1A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>F16T2A1</p>
                                </td>
                                <td>
                                    <p>F16T2A2</p>
                                </td>
                                <td>
                                    <p>F16T2A3</p>
                                </td>
                                <td>
                                    <p>F16T2A4</p>
                                </td>
                                <td>
                                    <p>F16T2A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>F16T3A1</p>
                                </td>
                                <td>
                                    <p>F16T3A2</p>
                                </td>
                                <td>
                                    <p>F16T3A3</p>
                                </td>
                                <td>
                                    <p>F16T3A4</p>
                                </td>
                                <td>
                                    <p>F16T3A5</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h4>Jahrgang 2015</h4>
                    <table class="math">
                        <tbody>
                            <tr>
                                <td>
                                    <p>H15T1A1</p>
                                </td>
                                <td>
                                    <p>H15T1A2</p>
                                </td>
                                <td>
                                    <p>H15T1A3</p>
                                </td>
                                <td>
                                    <p>H15T1A4</p>
                                </td>
                                <td>
                                    <p>H15T1A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>H15T2A1</p>
                                </td>
                                <td>
                                    <p>H15T2A2</p>
                                </td>
                                <td>
                                    <p>H15T2A3</p>
                                </td>
                                <td>
                                    <p>H15T2A4</p>
                                </td>
                                <td>
                                    <p>H15T2A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>H15T3A1</p>
                                </td>
                                <td>
                                    <p>H15T3A2</p>
                                </td>
                                <td>
                                    <p>H15T3A3</p>
                                </td>
                                <td>
                                    <p>H15T3A4</p>
                                </td>
                                <td>
                                    <p>H15T3A5</p>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <p>F15T1A1</p>
                                </td>
                                <td>
                                    <p>F15T1A2</p>
                                </td>
                                <td>
                                    <p>F15T1A3</p>
                                </td>
                                <td>
                                    <a href="aufg/F15T1A4_DGL.pdf" target="_blank">F15T1A4</a>
                                </td>
                                <td>
                                    <p>F15T1A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>F15T2A1</p>
                                </td>
                                <td>
                                    <p>F15T2A2</p>
                                </td>
                                <td>
                                    <p>F15T2A3</p>
                                </td>
                                <td>
                                    <p>F15T2A4</p>
                                </td>
                                <td>
                                    <p>F15T2A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>F15T3A1</p>
                                </td>
                                <td>
                                    <p>F15T3A2</p>
                                </td>
                                <td>
                                    <p>F15T3A3</p>
                                </td>
                                <td>
                                    <p>F15T3A4</p>
                                </td>
                                <td>
                                    <p>F15T3A5</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <h4>Jahrgang 2014</h4>
                    <table class="math">
                        <tbody>
                            <tr>
                                <td>
                                    <p>H14T1A1</p>
                                </td>
                                <td>
                                    <p>H14T1A2</p>
                                </td>
                                <td>
                                    <p>H14T1A3</p>
                                </td>
                                <td>
                                    <a href="aufg/H14T1A4_DGL.pdf" target="_blank">H14T1A4</a>
                                </td>
                                <td>
                                    <p>H14T1A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>H14T2A1</p>
                                </td>
                                <td>
                                    <p>H14T2A2</p>
                                </td>
                                <td>
                                    <p>H14T2A3</p>
                                </td>
                                <td>
                                    <p>H14T2A4</p>
                                </td>
                                <td>
                                    <p>H14T2A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>H14T3A1</p>
                                </td>
                                <td>
                                    <p>H14T3A2</p>
                                </td>
                                <td>
                                    <p>H14T3A3</p>
                                </td>
                                <td>
                                    <p>H14T3A4</p>
                                </td>
                                <td>
                                    <p>H14T3A5</p>
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    <p>F14T1A1</p>
                                </td>
                                <td>
                                    <p>F14T1A2</p>
                                </td>
                                <td>
                                    <p>F14T1A3</p>
                                </td>
                                <td>
                                    <p>F14T1A4</p>
                                </td>
                                <td>
                                    <p>F14T1A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="aufg/F14T2A1_DGL.pdf" target="_blank">F14T2A1</a>
                                </td>
                                <td>
                                    <p>F14T2A2</p>
                                </td>
                                <td>
                                    <p>F14T2A3</p>
                                </td>
                                <td>
                                    <p>F14T2A4</p>
                                </td>
                                <td>
                                    <p>F14T2A5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>F14T3A1</p>
                                </td>
                                <td>
                                    <p>F14T3A2</p>
                                </td>
                                <td>
                                    <p>F14T3A3</p>
                                </td>
                                <td>
                                    <p>F14T3A4</p>
                                </td>
                                <td>
                                    <p>F14T3A5</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</section>
